---
import BlogCard from "../../components/common/BlogCard.astro";
import ParagraphSection from "../../components/common/ParagraphSection.astro";
import TitleSection from "../../components/common/TitleSection.astro";
import Container from "./Container.astro";
import { getLastThreePosts } from '../../services/blog'
import type { Blog } from "../../utilities/types";

const posts: Array<Blog> = getLastThreePosts()
---

<Container subtitleText="noticias" subtitleTextLineColor="#FFC630">
    <div class="w-full flex flex-col gap-9">
        <TitleSection text1="reciclanews" />
        <ParagraphSection
            text="Consulta las últimas noticias y tendencias de la industria de reciclaje posindustrial."
            textColor="text-[#000810]"
        />
        <div class="grid grid-cols-1 sm:grid-cols-3 w-full gap-x-5 gap-y-4">
            {
                posts.map(post => <BlogCard
                    id={post.id}
                    category={post.category}
                    image={post.image}
                    date={post.date}
                    title={`${post.titleBodyBlue}${post.titleBodyGreen}`}
                    intro={post.intro}
                />)
            }
        </div>
        <slot/>
    </div>
</Container>